.root {
  margin: 50px 8px 8px 0px;
  position: relative;
  width: 40vw;
  /* margin: 50px 8px 8px 70px; */
}

.profile {
  position: relative;
}

.profile h2, .profile p {
  margin-bottom: 15px;
}

.picWrapper {
  position: absolute;
  top: 0;
  left: 90%;
}

.profilePic {
  border-radius: 50%;
}

.superhost {
  position: relative;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.bold {
  font-weight: bold;
}

.medalIcon {
position: absolute;
top: 20px;
left: 95%;
font-size: 30px;
}

.links {
  color: #008080;
}

.Body {
  margin-bottom: 15px;
}

.interactionGuest {
  margin-bottom: 15px;
}

.info {
  margin-bottom: 7px;
}

.buttonWrap {
  border: 1px solid #008080;
  border-radius: 5px;
  height: 30px;
  padding-top: 4px;
  text-align: center;
  width: 120px;
}

.disclaimer {
  position: relative;
  border-top: 1px solid #777;
  margin-top: 15px;
  padding-top: 15px;
  margin-bottom: 15px;
}