.root {
  border-bottom: 1px solid #777;
  border-top: 1px solid #777;
  margin: 8px 8px 8px 70px;
  padding-top: 15px;
  position: relative;
  width: 600px;
}

.root iframe {
  height: 350px;
  width: 600px;
}

.root, .title, .location, .body {
  margin-bottom: 15px;
}

.title {
  margin-top: 30px;
}

.readNeigh, .readNeigh h3, .readNeigh p, .readNeigh a {
  margin-bottom: 40px;
}

.click {
  color: #008080
}

.icon {
  margin-left: 10px;
  font-size: 14px;
}

.map {
  border-bottom: 1px solid #777;
}

.mapP {
  margin-bottom: 15px;
  margin-top: 15px;
}

.checkTime {
  margin-bottom: 15px;
  margin-top: 15px;
  border-bottom: 1px solid #777;
  padding-bottom: 30px;
}

.rulesIconOne {
display: inline-block;
width: 325px;
float: left;
}

.rulesIcontwo {
  display: inline-block;
  width: 250px;
  float: left;
}

.rulesBody {
  margin-bottom: 50px;
}
