.root {
  border-bottom: 1px solid rgb(219, 218, 218);
  border-top: 1px solid rgb(219, 218, 218);
  margin: 8px 8px 8px 70px;
  position: relative;
  width: 600px;
}

.root iframe {
  height: 350px;
  width: 600px;
}

.title {
  margin-top: 30px;
  margin-bottom: 15px;
}

.location {
  margin-bottom: 15px;
}