.images {
  width: 20em;
  height: 20em;
  display: block;
}

.entry {
  max-width: 33%;
  max-height: 80%;
  float: left;
  display: block;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid black;
}