.root {
  margin: 8px 8px 8px 0;
  position: relative;
}

.root h2 {
  padding-top: 10px;
}

.carousel {
  display: flex;
  height: 360px;
  margin-top: 10px;
  overflow: hidden;
  width: 856px;
}

.entry {
  padding-right: 8px;
}

.prev {
  position: absolute;
  left: -30px;
  opacity: 0.5;
  top: 30%;
}

.next {
  position: absolute;
  left: 875px;
  opacity: 0.5;
  top: 30%;
}

.hidden {
  visibility: hidden;
}

.type {
  opacity: 60%;
}

.description {
  font-weight: bold;
}