.root {
  margin: 8px;
  position: relative;
}

.root h2 {
  margin-left: 58px;
  padding-top: 10px;
}

.carousel {
  display: flex;
  height: 360px;
  margin-left: 50px;
  margin-top: 10px;
  overflow: hidden;
  width: 882px;
}

.entry {
  padding: 8px;
}

.prev {
  position: absolute;
  left: 35px;
  opacity: 0.5;
  top: 45%;
}

.next {
  position: absolute;
  left: 947px;
  opacity: 0.5;
  top: 45%;
}

.hidden {
  visibility: hidden;
}

.type {
  opacity: 60%;
}

.description {
  font-weight: bold;
}